parameters:

    paths:
        - src/

    # Level 9 is the highest level
    level: 6

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - identifier: return.unusedType

        - message: '#Call to an undefined method Pest\\PendingCalls\\DescribeCall::[\w]+\(\)#'
          paths:
            - src/Brickhouse/*/tests/*

    excludePaths:
        analyseAndScan:
            - */Stubs/*.stub.php
            - */Stubs/*.stub.*.php
